<div class="dijitReset dijitInline dijitButtonNode" roleName="menuitem" tabIndex="-1" style="margin: 2px">
    <span class="dijitReset dijitInline "
          data-dojo-attach-event="ondijitclick:onClick" roleName="presentation">
        <span class="dijitReset dijitStretch dijitButtonContents"
              data-dojo-attach-point="titleNode,focusNode"
              roleName="button" aria-labelledby="${id}_label">
            <span roleName="presentation" class="dijitInline dijitIcon dijitMenuItemIcon" data-dojo-attach-point="iconNode"></span>
            <span data-dojo-attach-point="containerNode,textDirNode"></span>
        </span>
    </span>
</div>