.topDiv{
    min-height:70px;
}
.bottomDiv{
    min-height: 320px;
}
.bottomLeftDiv{
    margin-left:10px;
    float:left;
    width:450px;
    margin-right:20px;
    overflow-x: auto;
    height: 300px;
    border: 1px solid grey;
    margin-top: 10px;
    max-width: 500px;
}
.bottomRightDiv{
    float:left;
    width:450px;
    overflow-x: auto;
    height: 300px;
    border: 1px solid grey;
    margin-top: 10px;
    max-width: 500px;
}

.loading{
    height: 100%;
    width: 100%;
    background: #ccc;
    opacity: 0.4;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}
.closeLoad{
    top: 70%;
    left: 17%;
    position: absolute;
    background-color: black;
    color: white;
}
.errorMsgBlock{
    margin-left: 20px;
    margin-top: -15px;
}

.msgBlock{
    margin-left: 20px;
    margin-bottom: -10px;
    padding-top: 5px;
}

#window-choice-item table{
    border-spacing: 0 0;
    margin-top: 5px;
}
#window-choice-item tr:hover,#window-choice-item tr:nth-child(2n):hover{
        background: gold;
}
#window-choice-item tr:nth-child(2n){
    background: #f0f0f0;
}
#window-choice-item td{
    border: none;
    width: 100%;
    height: 40px;
}
#window-choice-item td span{
    cursor: pointer;
}
#window-choice-item input{
    width: 430px;
    margin: 20px 20px;
    border-radius: 5px;
}
#window-choice-item input.text:focus {
    border: 1px solid #39c;
    border-radius: 5px;
   }
.winChoiceItem{
    width:380px;
    overflow: hidden;
    margin-left:5px;
}
.displayNone{
    display: none;
}

.width300 .control-row .dijitStretch{
    width: 300px;
}