.hide,
.hide + label ~ div {
    display: none;
}
/* вид текста label */
.hide + label {
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: inline-block;
}
.info-scan select,
.info-scan input{
    width: 175px;
    border-radius: 4px;
    box-shadow: 0.33px 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block;
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px;
    /* чуточку анимации при появлении */
    -webkit-animation:fade ease-in 0.5s;
    -moz-animation:fade ease-in 0.5s;
    animation:fade ease-in 0.5s;
}
/* анимация при появлении скрытых блоков */
@-moz-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
@-webkit-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
.hide + label:before {
    background-color: #1e90ff;
    color: #fff;
    content: "\002B";
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 3px 5px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.hide:checked + label:before {
    content: "\2212";
}

.attachments-description{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:5%;
    width: 90%;
}
.attachments-description label{

}
.attachments-description textarea {
    width: 100%;
}
