.claro .dojoxCalendarEvent.selectCalendar .bg {
  background-color: rgba(0, 49, 101, 0.95) !important
}
.claro .dojoxCalendarEvent.selectCalendar.Hovered .bg {
  background-color: rgba(0, 49, 101, 0.95) !important
}
.claro .dojoxCalendarEvent.selectCalendar.Selected .bg {
  background-color: rgba(0, 18, 68, 0.95) !important;
}

.claro .dojoxCalendarEvent.selectCalendar.Selected .startTime  {
	background-color: #002b6c !important;
}

.claro .dojoxCalendarEvent.selectCalendar.Hovered .startTime {
  background-color: #002b6c !important;
}

.claro .dojoxCalendarEvent.selectCalendar .startTime {
  background-color: #002b6c !important;
}

.claro .dojoxCalendarColumnView.secondarySheet .dojoxCalendarVScrollBar{
	display: none;
}

.claro .dojoxCalendarMatrixView .dojoxCalendarGridTable .dojoxCalendarDayDisabled{	
	background-color: rgb(246, 246, 246) !important;
    color: #ccc !important;
	
}
.claro .dojoxCalendarMatrixView .dojoxCalendarGridTable .dojoxCalendarWeekend {
	
	background-color: #e5f2fe !important;
	color: #333;
}

.claro .dojoxCalendarMatrixView .dojoxCalendarColumnHeaderTable .dojoxCalendarWeekend {
	color: #333;
}
.startTime{
	font-weight: bold;
}
