.panel-heading {
    padding: 5px 5px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
}

.panel-body {
    padding: 8px;
}

.panel-flex {
    display: flex;
}

.panel-body-info {

    padding-right: 15px;
    padding-left: 15px;
}

.form-container fieldset {
    border: 1px solid #aaaaaa;
    padding: 1.2em 0 0.5em 1.5em;
    margin-bottom: 1em;
}

.panel {
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin-bottom: 5px;
    width: max-content;
}

.panel-default {
    border-color: #ddd;
}

.panel-primary {
    border-color: #337ab7;
    margin-bottom: 10px;

}

.panel-success {
    border-color: #d6e9c6;
}

.panel-info {
    border-color: #bce8f1;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.panel-success > .panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-info > .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}