<div class="dijitDialog" roleName="dialog" aria-labelledby="${uid}_title">
    <div data-dojo-attach-point="titleBar" class="dijitDialogTitleBar">
		<span data-dojo-attach-point="titleNode" class="dijitDialogTitle" id="${uid}_title"
              roleName="heading" level="1"></span>
        <span data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon"
              data-dojo-attach-event="ondijitclick: onCancel" title="${buttonCancel}" roleName="button" tabindex="-1">
			<span data-dojo-attach-point="closeText" class="closeText" title="${buttonCancel}"></span>
		</span>
    </div>
    <div data-dojo-attach-point="containerNode" class="dijitDialogPaneContent">
        <div class='attachments-load'>
            <span class="alfresco-buttons-AlfButton" type='button'
                  data-dojo-attach-event="ondijitclick:fileUploadPress"
                  id='${uid}_attachments_dialog_load_btn'>
                Загрузить
            </span>
            <div id='${uid}_attachments_load_file_name'>Документ:</div>
            <div id="${uid}_attachment_category_container" style="display: none">
                <label for="${uid}_attachment_category_select" style="display: block">
                    Категория вложения:
                </label>
                <select id="${uid}_attachment_category_select"></select>
            </div>
        </div>
        <div class='attachments-description form-field alf-textarea'>
            <label for='${uid}_attachments_content'>Описание документа:</label>
            <textarea id='${uid}_attachments_content' name='prop_btl-task_content' rows='5' cols='60' tabindex='0'
                      maxlength='1024'></textarea>
        </div>
    </div>
    <div class="dijitDialogPaneActionBar">
        <button class="alfresco-buttons-AlfButton" style="font-size:13px ; cursor: pointer;"
                data-dojo-attach-event="ondijitclick: onSubmit" type="button">Да
        </button>
        <button class="alfresco-buttons-AlfButton" style="font-size:13px ; cursor: pointer;"
                data-dojo-attach-event="ondijitclick: onCancel" type="button">Отмена
        </button>
    </div>
</div>